<div class="row">
     <div class="col-sm- 4">
          <h4 class="heading">Product Categories</h4>
                    <table class="table table-striped">
                         <thead>
                              <tr>
                                   <th>Category Name</th>
                                   <th>Action</th>
                              </tr>
                         </thead>
                    </table>
               <div class="showscroll">
                    <table class="table table-striped">
                         <tbody>
                              <% @category.each do |cat| %>
                                   <tr>
                                        <td class="text-capitalize"><%= cat.name %></td>
                                        <td>
                                        <!-- Actions -->
                                             <!-- Delete -->
                                             <form class="text-capitalize" action="<%= delete_category_path %>" method="post">
                                                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>"/>
                                                  <input type="hidden" name="category[category_id]" value="<%= cat.id%>"/>
                                                  <input type="hidden" name="_method" value="delete"/>
                                                  <button class="btn btn-sm btn-warning">Remove</button></p>
                                             </form>
                                        </td>
                                   </tr>
                              <% end %>
                         </tbody>
                    </table>
               </div>
     </div>
     <div class="col-sm- 4">
          <h4 class="heading">Products</h4>
                    <table class="table table-striped">
                         <thead>
                              <tr>
                                   <th>Product Name</th>
                                   <th>Action</th>
                              </tr>
                         </thead>
                    </table>
               <div class="showscroll">
                    <table class="table table-striped">
                         <tbody>
                              <% @product.each do |prod| %>
                                   <tr>
                                        <td class="text-capitalize"><%= prod.name %></td>
                                        <td>
                                        <!-- Actions -->
                                             <!-- Delete -->
                                             <form class="text-capitalize" action="<%= delete_product_path %>" method="post">
                                                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
                                                  <input type="hidden" name="product[product_id]" value="<%= prod.id %>"/>
                                                  <input type="hidden" name="_method" value="delete"/>
                                                  <button class="btn btn-sm btn-warning">Remove</button></p>
                                             </form>
                                        </td>
                                   </tr>
                              <% end %>
                         </tbody>
                    </table>
               </div>
     </div>
     <div class="col-sm- 4">
          <h4 class="heading">Product Patterns</h4>
                    <table class="table table-striped">
                         <thead>
                              <tr>
                                   <th>Pattern Name</th>
                                   <th>Action</th>
                              </tr>
                         </thead>
                    </table>
               <div class="showscroll">
                    <table class="table table-striped">
                         <tbody>
                              <% @pattern.each do |pat| %>
                                   <tr>
                                        <td class="text-capitalize"><%= pat.name %></td>
                                        <td>
                                        <!-- Actions -->
                                             <!-- Delete -->
                                             <form class="text-capitalize" action="<%= delete_pattern_path %>" method="post">
                                                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>"/>
                                                  <input type="hidden" name="pattern[pattern_id]" value="<%= pat.id%>"/>
                                                  <input type="hidden" name="_method" value="delete"/>
                                                  <button class="btn btn-sm btn-warning">Remove</button></p>
                                             </form>
                                        </td>
                                   </tr>
                              <% end %>
                         </tbody>
                    </table>
               </div>
     </div>
</div>
